* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ================= HORIZONTAL SCROLL ================= */

html, body {
  height: 100%;
  overflow: hidden; /* 🔥 vertical scroll söndürülür */
}

/* container */
.horizontal-scroll {
  display: flex;
  height: calc(100vh - 90px); /* header 90px */
  width: 100vw;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;
}

/* sectionlar */
.page-section {
  min-width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

/* scroll gizlət (istəsən) */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 100;
}

.header-inner {
  max-width: 1900px;
  height: 90px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  gap: 22px;
}

.logo img {
  width: 105px;
  display: block;
}

/* MENU */
.menu-box {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  gap: 4px;
  height: 30px;
  align-items: center;
  width:22px;
}

.menu-icon span {
  width: 7px;
  height: 52px;
  display: block;
  transform: skew(-12deg);
  background: linear-gradient(to bottom, #ed1c24 50%, #000 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.42s ease;
}

.menu-box:hover .menu-icon span:nth-child(1) {
  background-position: top;
  transition-delay: 0s;
}

.menu-box:hover .menu-icon span:nth-child(2) {
  background-position: top;
  transition-delay: 0.16s;
}

.menu-box:hover .menu-icon span:nth-child(3) {
  background-position: top;
  transition-delay: 0.32s;
}

.menu-icon span:nth-child(1) {
  transition-delay: 0.32s;
}

.menu-icon span:nth-child(2) {
  transition-delay: 0.16s;
}

.menu-icon span:nth-child(3) {
  transition-delay: 0s;
}

.menu-text {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000;
  transition: color 0.25s ease;
}

.menu-box:hover .menu-text {
  color: #ed1c24;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  color: #000;
}

.nav > a,
.nav-item > a {
  white-space: nowrap;
  transition: color 0.25s ease;
}

.nav a.active,
.nav a:hover,
.nav-item:hover > a {
  color: #ed1c24;
}

.nav i {
  font-size: 9px;
  margin-left: 4px;
}

.nav-item {
  position: relative;
  padding: 20px 0;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
 left: -150px;
  width: 520px;
  min-height: auto;
  background: #fff;
  z-index: 999;

    padding: 28px 100px 32px 115px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

 clip-path: polygon(70px 0, 100% 0, calc(100% - 75px) 100%, 0 100%);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.hero {
  height: 500px; /* istədiyin qədər */
  background: #d70c0c; /* 🔥 rəng buradan */
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-links a {
  position: relative;
  font-size: 14px;
  color: #000;
  padding-left: 0;
  transition: color 0.25s ease, padding-left 0.25s ease;
}

/* // işarəsi */
.dropdown-links a::before {
  content: "//";
  position: absolute;
  left: 0;
  color: #ed1c24;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.25s ease;
}

/* hover effekt */
.dropdown-links a:hover {
  color: #ed1c24;
  padding-left: 18px;
}

.dropdown-links a:hover::before {
  opacity: 1;
  transform: translateX(0);
}



.dropdown-links i {
  margin-left: 7px;
  font-size: 11px;
}

/* RIGHT */
.right {
  gap: 24px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 11px;
  line-height: 1;
}

.lang a {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  transition: color 0.25s ease;
}

/* aktiv (RU) */
.lang a.active {
  color: #ed1c24;
  font-weight: 800;
}

/* yalnız active olmayanlara hover */
.lang a:not(.active):hover {
  color: #ed1c24;
}

.socials {
  display: flex;
  flex-direction: column;   /* 🔥 əsas fix */
  align-items: center;

}
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}

.social-icon img {
  position: absolute;
  inset: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: opacity 0.25s ease;
}

.social-icon .hover {
  opacity: 0;
}

.social-icon:hover .normal {
  opacity: 0;
}

.social-icon:hover .hover {
  opacity: 1;
}

.contacts {
  display: flex;
  flex-direction: column;
  line-height: 1.12;
  white-space: nowrap;
  gap: 8px;
}

.phone {
  font-size: 15px;
  font-weight:600;
  color: #000;
}
.call {
  width: fit-content;
  margin: 6px 0 5px;
  color: #ed1c24;
  font-size: 13px;
  font-weight: 900;
  border-bottom: 1px solid #ed1c24;

  transition: border-color 0.3s ease, color 0.3s ease;
}

.call:hover {
  border-bottom-color: transparent; /* 🔥 xətt yox olur */
  color: #ed1c24;
}


.email {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.phone,
.email {
  transition: color 0.3s ease;
}

.phone:hover,
.email:hover {
  color: #ed1c24;
}

.worktime {
  font-size: 10px;
  line-height: 1.2;
  color: #000;
  white-space: nowrap;
}

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 760px;
  max-width: 92vw;
  height: 100vh;
  background: #fff;
  z-index: 9999;

  transform: translateX(-110%);
  transition: transform 0.35s ease;

  overflow: visible;
  clip-path: polygon(0 0, 100% 0, calc(100% - 140px) 100%, 0 100%);
}

.side-menu.active {
  transform: translateX(0);
}

/* X */
.side-menu-close {
  position: absolute;
  top: 28px;
  left: 40%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.side-menu-close svg {
  width: 60px;
  height: 60px;
  stroke: #000;
  stroke-width: 1.5;
  fill: none;
  transition: stroke 0.75s ease, transform 0.25s ease;
}

.side-menu-close:hover svg {
  stroke: #ed1c24;
}

/* CONTENT */
.side-menu-content {
  position: relative;
  margin-top: 125px;
  margin-right: 180px;
  padding: 0 20px 55px 60px;

  height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: auto;
  scrollbar-color: #8f8f8f #f7f7f7;
}

/* SCROLL */
.side-menu-content::-webkit-scrollbar {
  width: 16px;
}

.side-menu-content::-webkit-scrollbar-track {
  background: #f7f7f7;
}

.side-menu-content::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 20px;
  border: 4px solid #f7f7f7;
}

.side-menu-content::-webkit-scrollbar-thumb:hover {
  background: #ed1c24;
}

/* arrows */
.side-menu-content::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath d='M6 0L12 8H0Z' fill='%238f8f8f'/%3E%3C/svg%3E") center no-repeat;
}

.side-menu-content::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath d='M6 8L12 0H0Z' fill='%238f8f8f'/%3E%3C/svg%3E") center no-repeat;
}

/* TITLES */
.side-menu h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;

  position: relative;
  width: fit-content;
  cursor: pointer;
  transition: color 0.25s ease;
}

.side-menu h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #ed1c24;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.side-menu h2:hover {
  color: #ed1c24;
}

.side-menu h2:hover::after {
  opacity: 1;
}

/* LIST */
.side-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 36px;
}

/* LINKS */
.side-menu-list > a,
.company-grid a {
  font-size: 16px;
  color: #000;
  position: relative;
  width: fit-content;
  transition: color 0.25s ease;
}

.side-menu-list > a::after,
.company-grid a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #ed1c24;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.side-menu-list > a:hover,
.company-grid a:hover {
  color: #ed1c24;
}

.side-menu-list > a:hover::after,
.company-grid a:hover::after {
  opacity: 1;
}

/* ITEM */
.side-menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  font-size: 21px;
}

/* TEXT */
.side-menu-item .text {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.25s ease;
}

.side-menu-item .text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #ed1c24;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.side-menu-item .text:hover {
  color: #ed1c24;
}

.side-menu-item .text:hover::after {
  opacity: 1;
}

/* ARROW */
.submenu-trigger.active .arrow {
  color: #ed1c24;
  transform: rotate(180deg);
}

.side-menu-item .arrow {
  font-size: 18px;
  color: #777;
  cursor: pointer;
  transition: all 0.25s ease;
}

.side-menu-item .arrow:hover {
  color: #ed1c24;
  transform: rotate(180deg);
}

/* SUBMENU */
.submenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding-left: 25px;
}

.submenu.active {
  display: flex;
}

.submenu a {
  font-size: 16px;
  color: #000;
  position: relative;
  width: fit-content;
  transition: color 0.25s ease;
}

.submenu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #ed1c24;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.submenu a:hover {
  color: #ed1c24;
}

.submenu a:hover::after {
  opacity: 1;
}

/* COMPANY GRID */
.company-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}






/* ilk sehife*/
.page-section,
.stand-hero {
  position: relative;
  min-width: 100vw;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.stand-left {
  width: 28%;
  position: relative;
  z-index: 5;
  padding: 100px 0 0 38px;
}

.stand-left h1 {
  font-size: 80px;
  line-height: 0.98;
  font-weight: 600;
  color: #000;
  letter-spacing: -2px;
}

.stand-social {
      position:relative;
    z-index: 6;
  margin-top: 90px;
  padding-left: 12px;
}

.stand-social p {
  color: #ed1c24;
  z-index: 7;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.stand-social a {
  display: block;
  width: 28px;
  margin-bottom: 26px;
}

.stand-social img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* əsas böyük paraleloqram */
.stand-parallelogram {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 78%;
  height: calc(100vh - 190px);
  background: #ed1c24;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
  overflow: hidden;
  z-index: 1;
}

/* hover-də gələn şəkil */
.stand-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(237, 28, 36, 0.68), rgba(237, 28, 36, 0.68)),
    url("../photos/seg2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.45s ease, transform 0.7s ease;
}

.stand-parallelogram:hover .stand-bg {
  opacity: 1;
  transform: scale(1.08);
}

.stand-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 55px 120px 55px 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.stand-content h2 {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
  color: #000;
  transition: color 0.3s ease;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.stand-content p {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s ease;
  margin-bottom: 34px;
}
.stand-parallelogram:hover .stand-content h2,
.stand-parallelogram:hover .stand-content p {
  color: #fff;
}

.checklist-btn {
    position:fixed;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 10;

  display: inline-block;
  padding: 6px 14px;

  color: #ed1c24;
  font-size: 22px;
  font-weight: 600;
  border: 2px solid #ed1c24;
  background: #fff;

  overflow: hidden;
}

.checklist-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 3px;
  background: #ed1c24;

  transition: transform 0.45s ease;

  transform: translateX(0);
  transform-origin: right; /* 🔥 əsas */
}

.checklist-btn:hover::after {
  transform: translateX(-100%); /* 🔥 sola getsin */
}
/* ===== STAND ICONS (HEADERI POZMUR) ===== */

.stand-icons {
  position: fixed;
  left: 50px;
  bottom: 0px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 0px;
}

.stand-icon {
  position: relative;
  width: 26px;
  height: 26px;
}

.stand-icon img {
  position: absolute;
  inset: 0;
  width: 26px;
  height: 26px;
  object-fit: contain;
  transition: opacity 0.25s ease;
}

.stand-icon .hover {
  opacity: 0;
}

.stand-icon:hover .normal {
  opacity: 0;
}

.stand-icon:hover .hover {
  opacity: 1;
}


/*2 ci sehife*/

.problems-section {
  min-width: 100vw;
  height: 100%;
  flex-shrink: 0;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
  padding: 0 120px;
  overflow: hidden;
}

.problem-card {
  position: relative;
  width: 220px;
  height: 600px;
  flex-shrink: 0;
  overflow: visible;
}

.problem-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background: #ed1c24;
  overflow: hidden;
  z-index: 1;

  clip-path: polygon(32% 0, 100% 0, 68% 100%, 0 100%);
  transition: width 0.45s ease;
}

.problem-card:hover .problem-inner {
  width: 320px;
  z-index: 5;
}

/* hover zamanı forma çox dəyişməsin deyə clip-path-i saxlayırıq */
.problem-card:hover .problem-inner {
  clip-path: polygon(32% 0, 100% 0, 68% 100%, 0 100%);
}

.problem-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(237, 28, 36, 0.72), rgba(237, 28, 36, 0.72)),
    url("../photos/seg2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.4s ease 0.15s, transform 0.7s ease;
}

.problem-card:hover .problem-bg {
  opacity: 1;
  transform: scale(1.04);
}

.problem-text {
  position: absolute;
  top: 185px;
  left: 72px;
  z-index: 2;

  width: 145px;

  font-size: 22px;
  line-height: 1.08;
  font-weight: 900;
  color: #000;

  transition: opacity 0.25s ease, color 0.25s ease;
}

.problem-text.normal {
  opacity: 1;
}

.problem-text.hover {
  opacity: 0;
  color: #fff;
  width: 190px;
}

.problem-card:hover .problem-text.normal {
  opacity: 0;
}

.problem-card:hover .problem-text.hover {
  opacity: 1;
}

/* text hoverdə əyilmiş görünməsin */
.problem-inner,
.problem-bg,
.problem-text {
  transform: none;
}